// Colors:
$primary_color: #192252;
$secondary: #848fac;
$third_color: #fff;

$btn-bg: #0e1734;
$acc_down_bg: #ffece2;
$acc_up_bg: #ff620a;


$footer_bg:#0B265A;

// SIZE
$acc_br:3rem;
$size_1:1rem;
$size_2:10rem;
$size_3:40rem;
